body{
  margin: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  background-image: url("bgs1.png");
  bac
}

.game-bg {
  height : 400px;
  width: 400px;
  margin: auto;
  background-color: #0b2f5b;
  display: inline-block;
  vertical-align: top;
}

.game{
  width: 80%;
  height: 80%;
  margin: auto;
  text-align: center;
  /*position: relative;*/
}

.boxes {
  height: 100px;
  width: 100px;
  display: inline-block;
  background-color: #bfd9f7;
  border: 1px solid black;
  margin: 0;
  vertical-align: top;
  line-height: 100px;
  font-size: 30px;

}

.boxes:hover {
  background-color: lightgreen;
}

.row {
  display: block;
  margin-top: 5px;
}

.row1 {
  padding-top: 10%;
}

#winner{
  display: block;
  margin: 20px auto;
}

button {
  height: 40px;
  width: 100px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
}

button:hover {
  background-color: lightgreen;
}

input {
  border: 1px solid #c4c4c4;
  margin: auto;
  height: 25px;
  font-size: 13px;
  padding: 4px 4px 4px 4px;
  border-radius: 4px;
  box-shadow: 0px 0px 8px #d9d9d9;
  width: 90%;
}

input:focus {
  outline: none;
  border: 1px solid #7bc1f7;
  box-shadow: 0px 0px 8px #7bc1f7;
}

#p1 {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

h4{
  display: inline-block;
}

@media screen and (max-width: 550px){
  #p1 {
    display: block;
    width: 60%;
    margin: auto;
  }
}
