body{
  margin: auto;
  text-align: center;
}



.boxes {
  height: 100px;
  width: 100px;
  display: inline-block;
  background-color: mistyrose;
  border: 1px solid black;
  margin: 0;
  vertical-align: top;
}

.row {
  display: block;
}
.winner{
  display: block;
}

button {
  height: 40px;
  width: 100px;
  margin-bottom: 20px;
  background-color: black;
  color: white;
}
