body{
  margin: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.game-bg {
  height : 400px;
  width: 400px;
  margin: auto;
  background-color: #7ee1f6;
  display: inline-block;
  vertical-align: top;
  box-shadow:2px 2px 10px 1px black;
}

.game{
  width: 80%;
  height: 80%;
  margin: auto;
  text-align: center;
}

.boxes {
  height: 100px;
  width: 100px;
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  margin: 0;
  vertical-align: top;
  line-height: 100px;
  font-size: 30px;
}


h2 {
  color: #ff6080;
}

.row {
  display: block;
  margin-top: 5px;
}

.row1 {
  padding-top: 10%;
}

#winner{
  display: block;
  margin: 20px auto;
  color: #ff6080;
}

button {
  height: 40px;
  width: 100px;
  margin-bottom: 20px;
  background-color: #ff6080;
  color: black;
  font-weight: bold;
  border: 1px solid black;
}

input {
  border: 1px solid black;
  margin: auto;
  height: 25px;
  font-size: 13px;
  padding: 4px 4px 4px 4px;
  border-radius: 4px;
  box-shadow: 0px 0px 8px #d9d9d9;
  width: 90%;
}

input:focus {
  outline: none;
  border: 1px solid #7bc1f7;
  box-shadow: 0px 0px 8px #7bc1f7;
}

#p1 {
  display: inline-block;
  width: 25%;
  vertical-align: top;
}

h4{
  display: inline-block;
}


@media screen and (max-width: 360px){
  #p1 {
    display: block;
    width: 60%;
    margin: auto;
  }
  .game-bg {
    width: 90%;
    height: 90%;
  }
  .boxes {
    width: 80px;
    height: 80px;
  }
  .game {
    padding-bottom: 10%;
  }
  input {
    padding-bottom: 0px;
  }
  h4{
    font-size: 5px;
  }
  button {
    margin-bottom: 10px;
  }
}
